# Anchor
.anchor
target/

# Node
node_modules/
dist/
.yarn/

# Solana
test-ledger/
.DS_Store

# IDL
**/idl/

# Environment
.env
.env.*
!.env.example

# Logs
*.log

# Docker
docker-compose.override.yml

# IDE
.idea/
*.swp
*.swo

# Build artifacts
*.so
